body {
    font-family: sans-serif;
    justify-self: center;
    background-color: #b0c7c6;
  }

  #create-group{
    background-color: #13bbb398;

  }
  h1 {
    text-align: center;
  }
  #users-list {
    float: left;
  }
  #chat-box {
    background-color: #B0E9E6;
    justify-content:center;
    width: 50%;
    height: 250px;
    border: 1px solid black;
    overflow-y: auto;
    float: right;
  }
  
  #message-input {
    width: 50%;
    height: 30px;
    border: 1px solid black;
  }
  
  #send-button {
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }

#input-data{
  display: inline-block;
  margin: auto;
}